/**
 * @fileOverview Used to authenticate the bot with the website.
 */
/**
 * @param {string}
 */
exports.secret = 'A secret!'
/**
 * @param {string}
 */
exports.nick = 'meteor_irc';
/**
 * @param {string}
 */
exports.channel = '#meteor';
/**
 * @param {string}
 */
exports.host = 'localhost';
/**
 * @param {number}
 */
exports.port = 3000;
